:root {
  --primary: #0abab5;
  --white: #fafafa;
  --blue-bg: #080516;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.body {
  font-family: Montserrat, sans-serif;
}

.paragraph-lg {
  letter-spacing: 0;
  margin-bottom: .7em;
  font-family: Montserrat, sans-serif;
  font-size: 1.13rem;
  line-height: 1.6em;
}

.paragraph-lg.utility-margin-bottom-0 {
  color: var(--primary);
  margin-bottom: 0;
  font-size: 2rem;
}

.paragraph-lg.utility-margin-bottom-0.menu-open {
  color: var(--white);
}

.nav-left {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.utility-margin-bottom-1rem {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  display: flex;
}

.utility-container-cqw {
  container-type: inline-size;
}

.icon-medium {
  color: #0abab5;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
}

.icon-medium.utility-margin-bottom-0-5rem {
  color: #fff;
}

.burger_menu {
  width: 2.5em;
  height: 2.5em;
}

.button {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  box-shadow: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #0abab5;
  background-image: none;
  border: 0 solid #0000;
  border-radius: .75rem;
  justify-content: center;
  align-items: center;
  padding: 1em 1.5em;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  transition: border-color .2s, color .2s, background-color .2s cubic-bezier(.165, .84, .44, 1), box-shadow .2s;
  display: inline-flex;
}

.button:hover {
  box-shadow: none;
  color: #fff;
  background-color: #0abab5db;
  border-color: #0000;
}

.button:active {
  box-shadow: none;
  background-color: #0abab5;
}

.button:focus {
  outline-offset: 2px;
  outline: 2px solid #0abab5;
}

.button.secondary-button {
  background-color: var(--primary);
  color: #fff;
  text-transform: uppercase;
  background-image: none;
  border-color: #0000;
  transition-property: none;
  box-shadow: inset 0 0 0 1px #08051633;
}

.button.secondary-button:hover {
  background-color: #0abab5db;
  border-color: #0000;
  box-shadow: inset 0 0 0 1px #08051666;
}

.button.secondary-button:active {
  box-shadow: none;
  border-style: none;
}

.nav-mobile-menu-button {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.nav-mobile-menu-button:hover {
  color: inherit;
}

.nav-mobile-menu-button.w--open {
  z-index: 2;
  background-color: #0000;
}

.nav-mobile-menu-button.w--open:hover {
  color: #c1fd3a99;
}

.nav-container {
  background-color: #ddd0;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: .75rem 1rem;
  display: flex;
}

.icon {
  color: #080518;
  vertical-align: middle;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  display: flex;
}

.icon.utility-text-inherit {
  width: auto;
  height: auto;
}

.nav-menu-item {
  opacity: .6;
  color: Inherit;
  line-height: 1.1em;
  text-decoration: none;
  transition-property: opacity, padding;
  transition-duration: .3s, .3s;
  transition-timing-function: ease, ease-in-out;
}

.nav-menu-item.heading-responsive-xl.utility-margin-all-0 {
  opacity: 1;
  font-size: 7rem;
}

.nav-menu-item.heading-responsive-xl.utility-margin-all-0:hover {
  color: #fff;
  font-weight: 500;
}

.nav {
  z-index: 99;
  color: #080516;
  background-color: #fff0;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  font-size: 1rem;
  display: flex;
  position: relative;
}

.grid-layout {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-columns: 1fr;
}

.grid-layout.desktop-1-column {
  grid-template-columns: 1fr;
}

.nav-logo {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  color: inherit;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  display: flex;
}

.nav-logo:hover {
  color: color-mix(in srgb, currentColor 80%, transparent);
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.nav-menu-list-item {
  color: #fff;
  font-size: 1rem;
  display: flex;
  margin-bottom: 0 !important;
}

.flex-vertical {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  display: flex;
}

.flex-vertical.flex-gap-xs {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.flex-vertical.space-between, .flex-vertical.space-between.utility-height-100.flex-gap-sm {
  justify-content: space-between;
  align-items: stretch;
}

.utility-text-inverse-secondary {
  color: #fff;
}

.text-link {
  color: #080518;
  text-decoration: underline;
  -webkit-text-decoration-color: color-mix(in srgb, currentColor 30%, transparent);
  text-decoration-color: color-mix(in srgb, currentColor 30%, transparent);
  font-weight: 400;
  display: inline;
}

.text-link:hover {
  color: #08051899;
  text-decoration: underline;
  -webkit-text-decoration-color: color-mix(in srgb, currentColor 100%, transparent);
  text-decoration-color: color-mix(in srgb, currentColor 100%, transparent);
}

.text-link.inverse-text-link {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: underline;
}

.nav-mobile-menu-button-wrapper {
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: flex;
  position: relative;
}

.nav-menu-full-page {
  z-index: 1;
  text-align: left;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 100dvh;
  margin-bottom: 0;
  display: flex;
  position: fixed;
  inset: 0%;
}

.nav-menu-full-page.utility-background-inverse.utility-text-inverse {
  background-color: var(--primary);
}

.button-group {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  margin-top: 2rem;
  display: flex;
}

.button-group.utility-margin-bottom-0 {
  grid-column-gap: 10rem;
  grid-row-gap: 10rem;
}

.ix-nav-cover {
  pointer-events: none;
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  background-color: #0abab5;
  height: 100%;
  position: absolute;
  inset: 0% 0% auto;
  transform: scale3d(1, 0, 1);
}

.flex-horizontal {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  display: flex;
}

.flex-horizontal.flex-gap-xs {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: row;
}

.nav-right {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  display: flex;
}

.text-block {
  color: #fff;
}

.text-block-2 {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: underline;
}

.bold-text {
  color: #fff;
}

.utility-container-cqw-2 {
  container-type: inline-size;
}

.flex-child-no-shrink {
  flex: none;
}

.flex-child-no-shrink.utility-max-width-sm.utility-aspect-1x1 {
  aspect-ratio: 1;
}

.cover-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cover-image.utility-radius-xl {
  border-radius: 1rem;
}

.button-2 {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  box-shadow: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #0abab5;
  background-image: none;
  border: 0 solid #0000;
  border-radius: .75rem;
  justify-content: center;
  align-items: center;
  padding: 1em 1.5em;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  transition: border-color .2s, color .2s, background-color .2s cubic-bezier(.165, .84, .44, 1), box-shadow .2s;
  display: inline-flex;
}

.button-2:hover {
  box-shadow: none;
  color: #fff;
  background-color: #0abab5db;
  border-color: #0000;
}

.button-2:active {
  box-shadow: none;
  background-color: #0abab5;
}

.button-2:focus {
  outline-offset: 2px;
  outline: 2px solid #0abab5;
}

.button-2.secondary-button {
  color: #fff;
  text-transform: uppercase;
  background-color: #0abab5;
  background-image: none;
  border-color: #0000;
  transition-property: none;
  box-shadow: inset 0 0 0 1px #08051633;
}

.button-2.secondary-button:hover {
  background-color: #0abab5db;
  border-color: #0000;
  box-shadow: inset 0 0 0 1px #08051666;
}

.button-2.secondary-button:active {
  box-shadow: none;
  border-style: none;
}

.subheading {
  letter-spacing: 0;
  color: color-mix(in srgb, currentColor 70%, transparent);
  margin-bottom: 2rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.13rem;
  line-height: 1.6em;
}

.grid-layout-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-columns: 1fr;
}

.grid-layout-2.desktop-5-column {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-layout-2.desktop-5-column.tablet-1-column.grid-gap-md.y-bottom.utility-margin-bottom-4rem {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  margin-bottom: 4rem;
}

.container-2 {
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.heading-responsive-lg {
  margin-bottom: .7em;
  font-size: 10cqw;
  line-height: 1;
}

.heading-responsive-lg.utility-margin-bottom-0 {
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.custom-hero-offset-left {
  margin-left: calc(-1 * ( + ));
}

.utility-max-width-sm {
  max-width: 35rem;
}

.section {
  color: #080516;
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}

.section.utility-overflow-hidden {
  background-color: var(--white);
  overflow: hidden;
}

.section.blue-bg {
  background-color: var(--blue-bg);
  position: relative;
}

.button-group-2 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  margin-top: 2rem;
  display: flex;
  position: sticky;
}

.flex-horizontal-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  display: flex;
}

.flex-horizontal-2.flex-gap-xs {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: row;
}

.paragraph-lg-2 {
  letter-spacing: 0;
  margin-bottom: .7em;
  font-family: Montserrat, sans-serif;
  font-size: 1.13rem;
  line-height: 1.6em;
}

.ix-card-background {
  overflow: clip;
}

.overlay {
  opacity: .6;
  background-color: #080516;
  position: absolute;
  inset: 0%;
}

.button-3 {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  box-shadow: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #0abab5;
  background-image: none;
  border: 0 solid #0000;
  border-radius: .75rem;
  justify-content: center;
  align-items: center;
  padding: 1em 1.5em;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  transition: border-color .2s, color .2s, background-color .2s cubic-bezier(.165, .84, .44, 1), box-shadow .2s;
  display: inline-flex;
}

.button-3:hover {
  box-shadow: none;
  color: #fff;
  background-color: #0abab5db;
  border-color: #0000;
}

.button-3:active {
  box-shadow: none;
  background-color: #0abab5;
}

.button-3:focus {
  outline-offset: 2px;
  outline: 2px solid #0abab5;
}

.button-3.primary-button-on-inverse {
  box-shadow: none;
  color: #fff;
  -webkit-text-stroke-color: transparent;
  background-color: #0abab5;
  background-image: none;
}

.button-3.primary-button-on-inverse:hover {
  box-shadow: none;
  background-color: #0abab5db;
  border-color: #0000;
}

.button-3.primary-button-on-inverse:active {
  background-color: #0abab5;
  border-color: #0abab5;
}

.button-3.secondary-button {
  color: #fff;
  text-transform: uppercase;
  background-color: #0abab5;
  background-image: none;
  border-color: #0000;
  transition-property: none;
  box-shadow: inset 0 0 0 1px #08051633;
}

.button-3.secondary-button:hover {
  background-color: #0abab5db;
  border-color: #0000;
  box-shadow: inset 0 0 0 1px #08051666;
}

.button-3.secondary-button:active {
  box-shadow: none;
  border-style: none;
}

.utility-viewport-height-50 {
  height: 50dvh;
}

.card {
  color: #080516;
  background-color: #0000;
  background-image: none;
  border: 0 solid #08051633;
  border-radius: 1rem;
  flex-flow: column;
  list-style-type: none;
  overflow: hidden;
  box-shadow: 0 0 0 1px #08051633;
}

.card.card-on-inverse {
  color: #fff;
  background-color: #0000;
  background-image: none;
  border-color: #0805161a;
  box-shadow: 0 0 0 1px #fff3;
}

.card.card-body {
  z-index: -1;
  padding: 3rem;
}

.ix-card-change-width-background {
  z-index: 0;
  object-fit: cover;
  width: 10vw;
  min-width: 100%;
  max-width: none;
  height: 10vh;
  min-height: 100%;
  position: absolute;
}

.grid-layout-3 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-columns: 1fr;
}

.grid-layout-3.desktop-3-column {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-layout-3.desktop-3-column.tablet-1-column.grid-gap-sm {
  z-index: 2;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  position: relative;
}

.grid-layout-3.desktop-1-column {
  grid-template-columns: 1fr;
}

.grid-layout-3.desktop-1-column.utility-height-100.utility-z-index-2.card-body {
  z-index: 1;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  height: 100%;
  padding: 3rem;
  display: grid;
  position: relative;
}

.grid-layout-3.desktop-1-column.utility-position-sticky.utility-min-height-100dvh.sticky-mobile {
  z-index: 2;
  min-height: 100dvh;
  position: sticky;
  top: 0;
}

.grid-layout-3.desktop-1-column.utility-position-relative.utility-z-index-2 {
  position: relative;
}

.container-3 {
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.utility-text-on-overlay {
  color: #fff;
}

.icon-extra-large {
  color: #080518;
  flex: none;
  width: 5rem;
  height: 5rem;
}

.button-group-3 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  margin-top: 2rem;
  display: flex;
}

.image {
  object-fit: contain;
  border-radius: 1rem;
  width: 100%;
}

.image.cover-image {
  object-fit: cover;
}

.svg {
  color: #fff;
}

.eyebrow {
  text-align: center;
  letter-spacing: .01em;
  text-transform: uppercase;
  color: color-mix(in srgb, currentColor 60%, transparent);
  margin-top: 0;
  margin-bottom: 1.25rem;
  font-family: Montserrat, sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.3em;
  display: inline-block;
}

.card-body {
  z-index: 1;
  flex-flow: column;
  height: 100%;
  padding: 3rem;
  display: flex;
  position: relative;
}

.card-body.utility-text-align-center.utility-max-width-md {
  max-width: 40rem;
  padding-left: 0;
}

.button-4 {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  box-shadow: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #0abab5;
  background-image: none;
  border: 0 solid #0000;
  border-radius: .75rem;
  justify-content: center;
  align-items: center;
  padding: 1em 1.5em;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  transition: border-color .2s, color .2s, background-color .2s cubic-bezier(.165, .84, .44, 1), box-shadow .2s;
  display: inline-flex;
}

.button-4:hover {
  box-shadow: none;
  color: #fff;
  background-color: #0abab5db;
  border-color: #0000;
}

.button-4:active {
  box-shadow: none;
  background-color: #0abab5;
}

.button-4:focus {
  outline-offset: 2px;
  outline: 2px solid #0abab5;
}

.button-4.primary-button-on-inverse {
  box-shadow: none;
  color: #fff;
  -webkit-text-stroke-color: transparent;
  background-color: #0abab5;
  background-image: none;
}

.button-4.primary-button-on-inverse:hover {
  box-shadow: none;
  background-color: #0abab5db;
  border-color: #0000;
}

.button-4.primary-button-on-inverse:active {
  background-color: #0abab5;
  border-color: #0abab5;
}

.subheading-2 {
  text-align: center;
  letter-spacing: 0;
  color: color-mix(in srgb, currentColor 70%, transparent);
  margin-bottom: 2rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.13rem;
  line-height: 1.6em;
}

.grid-layout-4 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-columns: 1fr;
}

.grid-layout-4.desktop-1-column {
  grid-template-columns: 1fr;
}

.grid-layout-4.desktop-1-column.utility-position-sticky.utility-min-height-100dvh.sticky-mobile {
  z-index: 2;
  position: sticky;
  top: 0;
}

.container-4 {
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.button-group-4 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  margin-top: 2rem;
  display: flex;
}

.button-group-4.align-center {
  justify-content: center;
}

.svg-2, .svg-3 {
  color: #fff;
}

.heading {
  text-align: center;
}

.ix-scale-on-scroll-target-top {
  transform-origin: 100% 100%;
}

.ix-scale-on-scroll-target-bottom {
  transform-origin: 0 0;
}

.ix-scale-on-scroll-trigger {
  z-index: 2;
}

.grid-layout-5 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-columns: 1fr;
}

.grid-layout-5.desktop-1-column {
  grid-template-columns: 1fr;
}

.grid-layout-5.desktop-1-column.grid-gap-sm.utility-z-index-2 {
  z-index: 2;
}

.grid-layout-5.desktop-1-column.phoyo {
  z-index: 1;
  display: none;
  position: relative;
}

.image-2 {
  object-fit: contain;
  border-radius: 1rem;
  width: 100%;
}

.image-2.cover-image.utility-aspect-1x1 {
  width: 80%;
  height: 20%;
}

.paragraph-lg-3 {
  letter-spacing: 0;
  margin-bottom: .7em;
  font-family: Montserrat, sans-serif;
  font-size: 1.13rem;
  line-height: 1.6em;
}

.eyebrow-2 {
  letter-spacing: .01em;
  text-transform: uppercase;
  color: color-mix(in srgb, currentColor 60%, transparent);
  margin-top: 0;
  margin-bottom: 1.25rem;
  font-family: Montserrat, sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.3em;
  display: inline-block;
}

.heading-2 {
  font-weight: 700;
  display: flex;
}

.utility-margin-top-auto {
  margin-top: auto;
  display: none;
}

.card-body-2 {
  z-index: 1;
  flex-flow: column;
  height: 100%;
  padding: 3rem;
  display: flex;
  position: relative;
}

.button-5 {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  box-shadow: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #0abab5;
  background-image: none;
  border: 0 solid #0000;
  border-radius: .75rem;
  justify-content: center;
  align-items: center;
  padding: 1em 1.5em;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  transition: border-color .2s, color .2s, background-color .2s cubic-bezier(.165, .84, .44, 1), box-shadow .2s;
  display: inline-flex;
}

.button-5:hover {
  box-shadow: none;
  color: #fff;
  background-color: #0abab5db;
  border-color: #0000;
}

.button-5:active {
  box-shadow: none;
  background-color: #0abab5;
}

.button-5:focus {
  outline-offset: 2px;
  outline: 2px solid #0abab5;
}

.button-5.primary-button-on-inverse {
  box-shadow: none;
  color: #fff;
  -webkit-text-stroke-color: transparent;
  background-color: #0abab5;
  background-image: none;
}

.button-5.primary-button-on-inverse:hover {
  box-shadow: none;
  background-color: #0abab5db;
  border-color: #0000;
}

.button-5.primary-button-on-inverse:active {
  background-color: #0abab5;
  border-color: #0abab5;
}

.card-2 {
  color: #080516;
  background-color: #f5f6fa;
  background-image: none;
  border: 0 solid #08051633;
  border-radius: 1rem;
  flex-flow: column;
  list-style-type: none;
  overflow: hidden;
  box-shadow: 0 0 0 1px #08051633;
}

.card-2.featured-card {
  box-shadow: none;
  background-color: #f5f6fa;
  border-style: none;
  border-color: #0abab5;
}

.svg-4 {
  color: #fff;
  -webkit-text-stroke-color: #fff;
}

.divider {
  -webkit-text-stroke-width: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: color-mix(in srgb, currentColor 60%, transparent);
  align-self: stretch;
}

.divider.secondary-divider {
  border-bottom-color: color-mix(in srgb, currentColor 20%, transparent);
}

.divider.secondary-divider.utility-margin-bottom-1rem {
  margin-bottom: 1rem;
}

.utility-text-align-center {
  text-align: center;
}

.grid-layout-6 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-columns: 1fr;
}

.grid-layout-6.desktop-3-column {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-layout-6.desktop-3-column.tablet-1-column.grid-gap-xs {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.container-5 {
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.icon-extra-small {
  color: #080518;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.icon-extra-small.icon-container {
  color: #0abab5db;
  background-color: #0abab5db;
  border-radius: 10rem;
  padding: .25rem;
}

.heading-3 {
  font-weight: 700;
}

.utility-margin-bottom-0 {
  margin-bottom: 0 !important;
}

.button-group-5 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  margin-top: 2rem;
  display: flex;
}

.flex-horizontal-3 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  display: flex;
}

.flex-horizontal-3.flex-gap-xxs {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
}

.h1-heading {
  letter-spacing: -.01em;
  text-wrap: balance;
  margin-top: 0;
  margin-bottom: 1em;
  font-family: Montserrat, sans-serif;
  font-size: 4.21rem;
  font-weight: 400;
  line-height: 1.04em;
}

.section-2 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.italic-text, .italic-text-2, .italic-text-3 {
  font-style: normal;
}

.svg-5, .svg-6, .path, .svg-7, .svg-8, .svg-9, .svg-10, .svg-11 {
  color: #ffffffdb;
}

.button-6 {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  box-shadow: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #0abab5;
  background-image: none;
  border: 0 solid #0000;
  border-radius: .75rem;
  justify-content: center;
  align-items: center;
  padding: 1em 1.5em;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  transition: border-color .2s, color .2s, background-color .2s cubic-bezier(.165, .84, .44, 1), box-shadow .2s;
  display: inline-flex;
}

.button-6:hover {
  box-shadow: none;
  color: #fff;
  background-color: #0abab5db;
  border-color: #0000;
}

.button-6:active {
  box-shadow: none;
  background-color: #0abab5;
}

.button-6:focus {
  outline-offset: 2px;
  outline: 2px solid #0abab5;
}

.button-6.primary-button-on-inverse {
  box-shadow: none;
  color: #fff;
  -webkit-text-stroke-color: transparent;
  background-color: #0abab5;
  background-image: none;
}

.button-6.primary-button-on-inverse:hover {
  box-shadow: none;
  background-color: #0abab5db;
  border-color: #0000;
}

.button-6.primary-button-on-inverse:active {
  background-color: #0abab5;
  border-color: #0abab5;
}

.button-6.primary-button-on-inverse.big {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  display: none;
}

.div-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 40px;
  display: grid;
}

.text-block-3 {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
}

.subheading-3 {
  letter-spacing: 0;
  color: color-mix(in srgb, currentColor 70%, transparent);
  margin-bottom: 2rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.13rem;
  line-height: 1.6em;
}

.utility-text-align-center-2 {
  text-align: center;
}

.grid-layout-7 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-columns: 1fr;
}

.grid-layout-7.desktop-5-column {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-layout-7.desktop-5-column.tablet-2-column.grid-gap-md {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.container-6 {
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.utility-aspect-1x1 {
  aspect-ratio: 1;
  position: relative;
}

.div-block-2 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #f9f8f9;
  border-radius: 20px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  display: flex;
}

.icon-extra-small-2 {
  color: #080518;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.icon-extra-small-2.icon-container {
  color: #0abab5db;
  padding: .25rem;
}

.icon-extra-small-2.icon-container.large {
  border-radius: 20rem;
  width: 2rem;
  height: 2rem;
}

.h1-heading-2 {
  letter-spacing: -.01em;
  text-wrap: balance;
  margin-top: 0;
  margin-bottom: .3em;
  font-family: Montserrat, sans-serif;
  font-size: 4.21rem;
  font-weight: 400;
  line-height: 1.04em;
}

.h1-heading-2.white {
  color: #fff;
}

.image-3 {
  object-fit: contain;
  border-radius: 1rem;
  width: 100%;
}

.image-3.cover-image {
  object-fit: cover;
}

.eyebrow-3 {
  letter-spacing: .01em;
  text-transform: uppercase;
  color: color-mix(in srgb, currentColor 60%, transparent);
  margin-top: 0;
  margin-bottom: 1.25rem;
  font-family: Montserrat, sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.3em;
  display: inline-block;
}

.subheading-4 {
  letter-spacing: 0;
  color: color-mix(in srgb, currentColor 70%, transparent);
  margin-bottom: 2rem;
  font-size: 1.13rem;
  line-height: 1.6em;
}

.grid-layout-8 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-auto-columns: 1fr;
  display: grid;
}

.h5-heading {
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: .7em;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3em;
}

.h5-heading.utility-margin-bottom-0 {
  margin-bottom: 0;
}

.container-7 {
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.container-7.utility-text-align-center.modal-window {
  background-color: var(--white);
  border-radius: 2em;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 70vh;
  padding: 2em;
  display: flex;
  box-shadow: 0 2px 5px #0003;
}

.h2-heading {
  letter-spacing: -.01em;
  text-wrap: balance;
  margin-top: 0;
  margin-bottom: .35em;
  font-family: Montserrat, sans-serif;
  font-size: 2.37rem;
  font-weight: 400;
  line-height: 1.04em;
}

.text-link-2 {
  color: #080518;
  text-decoration: underline;
  -webkit-text-decoration-color: color-mix(in srgb, currentColor 30%, transparent);
  text-decoration-color: color-mix(in srgb, currentColor 30%, transparent);
  font-weight: 400;
  display: inline;
}

.text-link-2:hover {
  color: #08051899;
  text-decoration: underline;
  -webkit-text-decoration-color: color-mix(in srgb, currentColor 100%, transparent);
  text-decoration-color: color-mix(in srgb, currentColor 100%, transparent);
}

.text-link-2.secondary-text-link {
  color: #080516;
  text-decoration: underline;
  -webkit-text-decoration-color: color-mix(in srgb, currentColor 30%, transparent);
  text-decoration-color: color-mix(in srgb, currentColor 30%, transparent);
  font-size: 1.5rem;
}

.text-link-2.secondary-text-link:hover {
  -webkit-text-decoration-color: color-mix(in srgb, currentColor 100%, transparent);
  text-decoration-color: color-mix(in srgb, currentColor 100%, transparent);
}

.icon-large {
  color: #080518;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: flex;
}

.icon-large.utility-margin-bottom-1rem.utility-margin-horizontal-auto.icon-container {
  box-sizing: content-box;
  background-color: #e6e6e8;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: .5rem;
  display: inline-flex;
}

.mobile-portrait-1-column.grid-gap-sm {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.utility-text-secondary {
  color: color-mix(in srgb, currentColor 60%, transparent);
}

.logo {
  grid-column-gap: .7rem;
  grid-row-gap: .7rem;
  color: inherit;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  height: 2.5rem;
  text-decoration: none;
  display: flex;
}

.logo:hover {
  color: color-mix(in srgb, currentColor 80%, transparent);
}

.paragraph-xl {
  letter-spacing: 0;
  margin-bottom: .7em;
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  line-height: 1.6em;
}

.container-8 {
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.footer {
  color: #080516;
  background-color: #fff;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer.inverse-footer {
  color: #fff;
  background-color: #080516;
}

.footer-link {
  color: color-mix(in srgb, currentColor 60%, transparent);
  padding-top: .35em;
  padding-bottom: .35em;
  font-weight: 400;
  text-decoration: none;
}

.footer-link:hover {
  opacity: 1;
  color: color-mix(in srgb, currentColor 100%, transparent);
  text-decoration: underline;
}

.footer-link.footer-link-on-inverse, .footer-link.footer-link-on-inverse:hover {
  color: #fff;
}

.flex-vertical-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  display: flex;
}

.flex-vertical-2.x-center {
  justify-content: flex-start;
  align-items: center;
}

.utility-margin-bottom-2 {
  margin-bottom: 0 !important;
}

.utility-text-secondary-2 {
  color: color-mix(in srgb, currentColor 60%, transparent);
}

.button-group-6 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  margin-top: 2rem;
  display: flex;
}

.button-group-6.align-center {
  justify-content: center;
}

.button-group-6.align-center.utility-text-align-center {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.modal {
  z-index: 9;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: none;
  position: fixed;
  inset: 0%;
}

.close {
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  display: flex;
  position: absolute;
  inset: 0% 0% auto auto;
}

.code-embed {
  color: #000;
}

.close-overlay {
  position: absolute;
  inset: 0%;
}

@media screen and (max-width: 991px) {
  .paragraph-lg {
    font-size: 1.13rem;
  }

  .nav-mobile-menu-button {
    background-color: #0000;
    align-self: center;
  }

  .nav-mobile-menu-button.w--open {
    color: #0abab5;
    background-color: #0000;
  }

  .nav-mobile-menu-button.w--open:hover {
    color: #080518;
  }

  .nav {
    height: auto;
  }

  .grid-layout.desktop-1-column {
    grid-template-columns: 1fr;
  }

  .nav-menu-list-item {
    flex-flow: column;
    margin-bottom: 0;
    font-size: .8rem;
  }

  .nav-menu-full-page {
    padding: 1rem;
    overflow: auto;
  }

  .flex-horizontal {
    flex-flow: wrap;
  }

  .subheading {
    font-size: 1.13rem;
  }

  .grid-layout-2.desktop-5-column.tablet-1-column.grid-gap-md.y-bottom.utility-margin-bottom-4rem {
    grid-template-columns: 1fr;
  }

  .section {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .flex-horizontal-2 {
    flex-flow: wrap;
  }

  .paragraph-lg-2 {
    font-size: 1.13rem;
  }

  .grid-layout-3.desktop-3-column.tablet-1-column.grid-gap-sm, .grid-layout-3.desktop-1-column {
    grid-template-columns: 1fr;
  }

  .eyebrow {
    font-size: .9rem;
  }

  .card-body {
    padding: 2rem;
  }

  .subheading-2 {
    font-size: 1.13rem;
  }

  .grid-layout-4.desktop-1-column {
    grid-template-columns: 1fr;
  }

  .grid-layout-4.desktop-1-column.utility-position-sticky.utility-min-height-100dvh.sticky-mobile {
    height: 50dvh;
  }

  .grid-layout-5.desktop-1-column {
    grid-template-columns: 1fr;
  }

  .paragraph-lg-3 {
    font-size: 1.13rem;
  }

  .eyebrow-2 {
    font-size: .9rem;
  }

  .card-body-2 {
    padding: 2rem;
  }

  .grid-layout-6.desktop-3-column.tablet-1-column.grid-gap-xs {
    grid-template-columns: 1fr;
  }

  .utility-margin-bottom-0 {
    margin-bottom: 0;
  }

  .flex-horizontal-3 {
    flex-flow: wrap;
  }

  .h1-heading {
    font-size: 3.37rem;
  }

  .subheading-3 {
    font-size: 1.13rem;
  }

  .grid-layout-7.desktop-5-column.tablet-2-column.grid-gap-md {
    grid-template-columns: 1fr;
  }

  .h1-heading-2 {
    font-size: 3.37rem;
  }

  .eyebrow-3 {
    font-size: .9rem;
  }

  .subheading-4 {
    font-size: 1.13rem;
  }

  .h5-heading {
    font-size: 1rem;
  }

  .h2-heading {
    font-size: 1.89rem;
  }

  .paragraph-xl {
    font-size: 1.4rem;
  }

  .footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .utility-margin-bottom-2 {
    margin-bottom: 0;
  }

  .modal {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .paragraph-lg {
    font-size: 1.1rem;
  }

  .nav-menu-item.heading-responsive-xl.utility-margin-all-0 {
    font-size: 3rem;
  }

  .nav-menu-list-item {
    margin-bottom: 0;
    font-size: .5rem;
  }

  .button-group.utility-margin-bottom-0 {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .subheading {
    font-size: 1.1rem;
  }

  .utility-max-width-sm {
    max-width: 100%;
  }

  .section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .paragraph-lg-2 {
    font-size: 1.1rem;
  }

  .eyebrow {
    font-size: .8rem;
  }

  .card-body {
    padding: 1.5rem;
  }

  .subheading-2 {
    font-size: 1.1rem;
  }

  .grid-layout-5.desktop-1-column.phoyo {
    display: none;
  }

  .paragraph-lg-3 {
    font-size: 1.1rem;
  }

  .eyebrow-2 {
    font-size: .8rem;
  }

  .card-body-2 {
    padding: 1.5rem;
  }

  .utility-margin-bottom-0 {
    margin-bottom: 0;
  }

  .h1-heading {
    font-size: 2.69rem;
  }

  .subheading-3 {
    font-size: 1.1rem;
  }

  .h1-heading-2 {
    font-size: 2.69rem;
  }

  .eyebrow-3 {
    font-size: .8rem;
  }

  .subheading-4 {
    font-size: 1.1rem;
  }

  .h5-heading {
    font-size: 1rem;
  }

  .h2-heading {
    font-size: 1.52rem;
  }

  .mobile-portrait-1-column.grid-gap-sm {
    grid-template-columns: minmax(0, 1fr);
  }

  .paragraph-xl {
    font-size: 1.3rem;
  }

  .utility-margin-bottom-2 {
    margin-bottom: 0;
  }

  .modal {
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .paragraph-lg {
    font-size: 1.1rem;
  }

  .burger_menu {
    filter: invert();
  }

  .button {
    white-space: nowrap;
  }

  .nav-mobile-menu-button.w--open {
    color: inherit;
  }

  .nav-menu-item.heading-responsive-xl.utility-margin-all-0 {
    font-size: 2rem;
  }

  .container {
    padding-top: 4rem;
  }

  .nav-menu-list-item {
    margin-bottom: 0;
    font-size: .3rem;
  }

  .nav-menu-full-page {
    padding: 0;
  }

  .button-group {
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }

  .button-2 {
    white-space: nowrap;
  }

  .subheading {
    font-size: 1.1rem;
  }

  .grid-layout-2.desktop-5-column.tablet-1-column.grid-gap-md.y-bottom.utility-margin-bottom-4rem {
    grid-template-columns: 1fr;
  }

  .heading-responsive-lg {
    font-size: 12cqw;
    line-height: 1.2;
  }

  .section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .button-group-2 {
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }

  .paragraph-lg-2 {
    font-size: 1.1rem;
  }

  .button-3 {
    white-space: nowrap;
  }

  .button-group-3 {
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }

  .eyebrow {
    font-size: .8rem;
  }

  .card-body {
    padding: 1.5rem;
  }

  .card-body.utility-text-align-center.utility-max-width-md {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .button-4 {
    white-space: nowrap;
  }

  .subheading-2 {
    font-size: 1.1rem;
  }

  .grid-layout-4.desktop-1-column.utility-position-sticky.utility-min-height-100dvh.sticky-mobile {
    height: 100dvh;
  }

  .button-group-4 {
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }

  .paragraph-lg-3 {
    font-size: 1.1rem;
  }

  .eyebrow-2 {
    font-size: .8rem;
  }

  .card-body-2 {
    padding: 1.5rem;
  }

  .button-5 {
    white-space: nowrap;
  }

  .utility-margin-bottom-0 {
    margin-bottom: 0;
  }

  .button-group-5 {
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }

  .h1-heading {
    font-size: 2.15rem;
  }

  .button-6 {
    white-space: nowrap;
  }

  .subheading-3 {
    font-size: 1.1rem;
  }

  .grid-layout-7.desktop-5-column.tablet-2-column {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }

  .h1-heading-2 {
    font-size: 2.15rem;
  }

  .eyebrow-3 {
    font-size: .8rem;
  }

  .subheading-4 {
    font-size: 1.1rem;
  }

  .h5-heading {
    font-size: 1rem;
  }

  .container-7.utility-text-align-center.modal-window {
    height: auto;
    padding: 2em 1em;
  }

  .h2-heading {
    font-size: 1.21rem;
  }

  .mobile-portrait-1-column {
    grid-template-columns: 1fr;
  }

  .logo {
    color: inherit;
  }

  .paragraph-xl {
    font-size: 1.2rem;
  }

  .utility-margin-bottom-2 {
    margin-bottom: 0;
  }

  .button-group-6 {
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }

  .modal {
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    position: fixed;
    top: 0%;
  }
}

#w-node-cbaa7b59-b14a-c766-9df6-87259484a776-9484a764.w-node-_366873ee-b21e-f82b-dd9a-5be4925699e2-570e8f7d {
  align-self: stretch;
}

#w-node-cbaa7b59-b14a-c766-9df6-87259484a778-9484a764.w-node-_366873ee-b21e-f82b-dd9a-5be4925699e4-570e8f7d {
  grid-area: 1 / 1 / 2 / 3;
}

#w-node-cbaa7b59-b14a-c766-9df6-87259484a7a3-9484a764.w-node-_366873ee-b21e-f82b-dd9a-5be4925699f6-570e8f7d {
  align-self: end;
}

#w-node-cbaa7b59-b14a-c766-9df6-87259484a7a4-9484a764.w-node-_366873ee-b21e-f82b-dd9a-5be4925699f7-570e8f7d {
  place-self: end;
}

#w-node-a15aa3ad-b541-e3b1-545d-786b4da84a6b-4da84a69.w-node-_7a5c7557-29d2-e3e5-33e8-9a10c563412a-570e8f7d {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-a15aa3ad-b541-e3b1-545d-786b4da84a6c-4da84a69.w-node-_7a5c7557-29d2-e3e5-33e8-9a10c563412b-570e8f7d {
  grid-area: span 1 / span 3 / span 1 / span 3;
  align-self: auto;
}

#w-node-a15aa3ad-b541-e3b1-545d-786b4da84a6f-4da84a69.w-node-_7a5c7557-29d2-e3e5-33e8-9a10c563412e-570e8f7d {
  grid-area: span 1 / span 2 / span 1 / span 2;
  place-self: end;
}

#w-node-d1d5c955-67fd-caae-d5a2-02763ed2af92-3ed2af8f.w-node-f71f6947-fe6d-2e79-7eb8-acb7717f865d-570e8f7d {
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
}

#w-node-d1d5c955-67fd-caae-d5a2-02763ed2af96-3ed2af8f.w-node-f71f6947-fe6d-2e79-7eb8-acb7717f8661-570e8f7d {
  align-self: stretch;
}

#w-node-d1d5c955-67fd-caae-d5a2-02763ed2afa0-3ed2af8f.w-node-f71f6947-fe6d-2e79-7eb8-acb7717f8670-570e8f7d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d1d5c955-67fd-caae-d5a2-02763ed2afaa-3ed2af8f.w-node-f71f6947-fe6d-2e79-7eb8-acb7717f867c-570e8f7d {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
}

#w-node-_19899e75-8bdc-2be9-6cc6-1a4bfeffe5a2-feffe5a0.w-node-c785b3a3-434e-0a0a-5249-ce502317ecab-570e8f7d {
  align-self: center;
}

#w-node-_19899e75-8bdc-2be9-6cc6-1a4bfeffe5a3-feffe5a0.w-node-c785b3a3-434e-0a0a-5249-ce502317ecac-570e8f7d {
  place-self: center;
}

#w-node-_19899e75-8bdc-2be9-6cc6-1a4bfeffe5ae-feffe5a0.w-node-_48338a37-8113-3885-017d-971e5133c0dd-570e8f7d {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_19899e75-8bdc-2be9-6cc6-1a4bfeffe5af-feffe5a0.w-node-_48338a37-8113-3885-017d-971e5133c0de-570e8f7d {
  grid-area: 1 / 1 / 3 / 2;
}

#w-node-_19899e75-8bdc-2be9-6cc6-1a4bfeffe5b3-feffe5a0.w-node-_48338a37-8113-3885-017d-971e5133c0e2-570e8f7d {
  grid-area: 3 / 1 / 5 / 2;
}

#w-node-_19899e75-8bdc-2be9-6cc6-1a4bfeffe5b7-feffe5a0.w-node-_48338a37-8113-3885-017d-971e5133c0e6-570e8f7d {
  grid-area: 3 / 3 / 5 / 4;
}

#w-node-_19899e75-8bdc-2be9-6cc6-1a4bfeffe5bf-feffe5a0.w-node-_48338a37-8113-3885-017d-971e5133c0ee-570e8f7d {
  grid-area: 1 / 3 / 3 / 4;
}

#w-node-d2e04307-0737-c1e6-e14d-892d8ef93c6a-b4918005.w-node-_0d31c7e0-609b-cf70-e317-4ea5852093ee-570e8f7d, #w-node-_14ed7dd6-56c7-3478-cd95-e679ab120fdc-b4918005.w-node-_0d31c7e0-609b-cf70-e317-4ea585209413-570e8f7d, #w-node-fbb60fe8-b7d0-a066-41ca-d7a3d748490d-b4918005.w-node-_0d31c7e0-609b-cf70-e317-4ea585209439-570e8f7d {
  grid-area: 1 / 1 / 2 / 3;
  align-self: baseline;
}

#w-node-_44ed6ab9-4c4e-a35a-ae4b-dbd67b90ce7a-7b90ce77.w-node-_2afa4363-578f-d3a8-1e54-c96d093bf04e-570e8f7d {
  grid-area: 2 / 2 / 4 / 5;
}

#w-node-_30418515-d59e-ffd3-5168-c0585cd80c62-7b90ce77.w-node-_2afa4363-578f-d3a8-1e54-c96d093bf06e-570e8f7d {
  grid-area: 1 / 5 / 3 / 6;
}

#w-node-_0838aac7-e010-b663-7048-c77ffc4edb47-7b90ce77.w-node-_2afa4363-578f-d3a8-1e54-c96d093bf071-570e8f7d {
  grid-area: 3 / 1 / 5 / 2;
}

@media screen and (max-width: 991px) {
  #w-node-a15aa3ad-b541-e3b1-545d-786b4da84a6c-4da84a69.w-node-_7a5c7557-29d2-e3e5-33e8-9a10c563412b-570e8f7d {
    grid-column: span 1 / span 1;
  }

  #w-node-a15aa3ad-b541-e3b1-545d-786b4da84a6f-4da84a69.w-node-_7a5c7557-29d2-e3e5-33e8-9a10c563412e-570e8f7d {
    grid-column: span 1 / span 1;
    justify-self: start;
  }

  #w-node-_44ed6ab9-4c4e-a35a-ae4b-dbd67b90ce7a-7b90ce77.w-node-_2afa4363-578f-d3a8-1e54-c96d093bf04e-570e8f7d {
    grid-area: 1 / 1 / 2 / 3;
  }

  #w-node-_30418515-d59e-ffd3-5168-c0585cd80c62-7b90ce77.w-node-_2afa4363-578f-d3a8-1e54-c96d093bf06e-570e8f7d {
    grid-column: 1 / 2;
    grid-row-start: 2;
  }

  #w-node-_0838aac7-e010-b663-7048-c77ffc4edb47-7b90ce77.w-node-_2afa4363-578f-d3a8-1e54-c96d093bf071-570e8f7d {
    grid-area: 2 / 2 / 3 / 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-cbaa7b59-b14a-c766-9df6-87259484a7a4-9484a764.w-node-_366873ee-b21e-f82b-dd9a-5be4925699f7-570e8f7d {
    justify-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-cbaa7b59-b14a-c766-9df6-87259484a778-9484a764.w-node-_366873ee-b21e-f82b-dd9a-5be4925699e4-570e8f7d {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_19899e75-8bdc-2be9-6cc6-1a4bfeffe5b7-feffe5a0.w-node-_48338a37-8113-3885-017d-971e5133c0e6-570e8f7d, #w-node-_19899e75-8bdc-2be9-6cc6-1a4bfeffe5bf-feffe5a0.w-node-_48338a37-8113-3885-017d-971e5133c0ee-570e8f7d {
    grid-column: 2 / 3;
  }

  #w-node-_30418515-d59e-ffd3-5168-c0585cd80c62-7b90ce77.w-node-_2afa4363-578f-d3a8-1e54-c96d093bf06e-570e8f7d {
    grid-column-end: 3;
  }

  #w-node-_0838aac7-e010-b663-7048-c77ffc4edb47-7b90ce77.w-node-_2afa4363-578f-d3a8-1e54-c96d093bf071-570e8f7d {
    grid-row: 3 / 4;
    grid-column-start: 1;
  }
}


